In [2]:
import pandas as pd
import numpy as np

## 1. Selecting one Column

#### 1.1 Syntax 1

In [12]:
df_matches = pd.read_csv("matches - matches.csv")
df_matches

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [4]:
# Select a column with [](Preferred way to select columns)

df_matches["winner"]

0              Sunrisers Hyderabad
1           Rising Pune Supergiant
2            Kolkata Knight Riders
3                  Kings XI Punjab
4      Royal Challengers Bangalore
                  ...
631    Royal Challengers Bangalore
632    Royal Challengers Bangalore
633            Sunrisers Hyderabad
634            Sunrisers Hyderabad
635            Sunrisers Hyderabad
Name: winner, Length: 636, dtype: object

In [5]:
# Check out Datatype of a column
type(df_matches["win_by_wickets"])

pandas.core.series.Series

In [9]:
# Series : attributes and Methods
df_matches["winner"].index
df_matches["winner"].head()

0            Sunrisers Hyderabad
1         Rising Pune Supergiant
2          Kolkata Knight Riders
3                Kings XI Punjab
4    Royal Challengers Bangalore
Name: winner, dtype: object

#### 1.2 Syntax 2

In [11]:
# Select a column with
df_matches.winner

0              Sunrisers Hyderabad
1           Rising Pune Supergiant
2            Kolkata Knight Riders
3                  Kings XI Punjab
4      Royal Challengers Bangalore
                  ...
631    Royal Challengers Bangalore
632    Royal Challengers Bangalore
633            Sunrisers Hyderabad
634            Sunrisers Hyderabad
635            Sunrisers Hyderabad
Name: winner, Length: 636, dtype: object

In [14]:
# Select a column with .
# df_matches.toss decision -> This is wrong for this type of column either you use _ for space or use [] method for print

# Method 1 Using _ for spaces
df_matches.toss_decision

0      field
1      field
2      field
3      field
4        bat
       ...
631    field
632    field
633    field
634    field
635      bat
Name: toss_decision, Length: 636, dtype: object

In [16]:
# Select column with []
df_matches["toss_decision"]

0      field
1      field
2      field
3      field
4        bat
       ...
631    field
632    field
633    field
634    field
635      bat
Name: toss_decision, Length: 636, dtype: object

## 1 Selecting two or more Columns

In [23]:
# Select two columns using [[]]
df_matches[["winner", "toss_decision"]]

                          winner toss_decision
0            Sunrisers Hyderabad         field
1         Rising Pune Supergiant         field
2          Kolkata Knight Riders         field
3                Kings XI Punjab         field
4    Royal Challengers Bangalore           bat
..                           ...           ...
631  Royal Challengers Bangalore         field
632  Royal Challengers Bangalore         field
633          Sunrisers Hyderabad         field
634          Sunrisers Hyderabad         field
635          Sunrisers Hyderabad           bat

[636 rows x 2 columns]

In [24]:
# Check out The data type of the selection
type(df_matches[["winner", "toss_decision"]])

pandas.core.frame.DataFrame

In [31]:
# Select 2 or more columns using [[]]
ans = df_matches[["winner", "toss_decision", "city", "date", "season"]].head(3)
ans

                   winner toss_decision       city        date  season
0     Sunrisers Hyderabad         field  Hyderabad  2017-04-05    2017
1  Rising Pune Supergiant         field       Pune  2017-04-06    2017
2   Kolkata Knight Riders         field     Rajkot  2017-04-07    2017